{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:prettier/recommended", "plugin:flowtype/recommended"],
  "plugins": ["flowtype"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "no-console": "off",
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "no-plusplus": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "no-continue": "off",
    "no-underscore-dangle": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".scss"]
      }
    }
  }
}