$visited-color: #75e1ff;
$shortest-color: #cf2541;
$fixed-color: #000000;
$clicked-color: #fcba03;
$initial-color: #a1a6a3;

:export {
  visitedColor: $visited-color;
  shortestColor: $shortest-color;
  fixedColor: $fixed-color;
  clickedColor: $clicked-color;
  initialColor: $initial-color;
}

$header-height: 10vh;
$content-header-height: 9vh;
$footer-height: 10vh;
$board-height: calc(100vh - (#{$header-height} + #{$content-header-height} + #{$footer-height}));